.Widget--container {
    margin-top: 20px;
    width: clamp(600px, 100%, 2048px);
    height: auto;
    padding: 15px;
    padding-bottom: 30px;

    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: var(--shadow);
    border: 1px solid rgba(0,0,0,.1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Widget--header {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--light);
}

.Widget--header .search-bar {
    border-radius: 0;
    font-size: 1rem;
    padding: .3rem;
    border: none;
    background-color: transparent;
    height: 100%;
}

.search-region-container:focus-within {
    background-color: var(--light);
}

.Widget--header .regions-weather-button {
    font-size: 1.1rem;
    border: none;
    border-radius: 7px;
    padding: .5rem;
    background-color: transparent;
    color: var(--light);
  
}

.search-btn {
    color: black;
    margin: 0 10px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-region-container {
    position: relative;
    z-index: 100;

    border: 1px solid black;
    background-color: var(--light);
    box-shadow: var(--shadow);
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-region-container-results {
    box-shadow: var(--shadow);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}


.query-results-container {
    width: calc(100% + 2px);
    height: auto;

    position: absolute;
    z-index: 100;
    top: 100%;
    left: -1px;

    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    list-style-type: none;
    background-color: var(--light);
}
.query-results-container > li {
    color: black;
    padding: .3rem;
    font-size: 1rem;
    margin: 5px 0;
}
.query-results-container > li:hover {
    background-color: rgba(0,0,0,.4);
}

.regions-weather-button:hover {
    background-color: rgba(255,255,255,.5);
}

.search-btn:hover > svg {
    color: gray;
}


.blocker {
    position: fixed;
    top: 0;
    left:0; 
  
    z-index: 1;
    width: 100vw;
    height: 100vh;
  }