.Widget--container > footer {
    margin-top: 15px;
    width: 100%;
    height: auto;
    padding: 0 50px;
}

.WidgetFooter--daysContainer {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    overflow-x: scroll;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.DailyWeather--container {
    min-width: 250px;
    height: 100%;
    margin-right: 20px;
    padding: 10px 20px;

    background-color: var(--light);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.DailyWeather--top {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.DailyWeather--left {
    flex-grow: 1;

}
.DailyWeather--left > p {
    font-size: .8rem;
}
.DailyWeather--right {
    width: auto;
}


.DailyWeather--bottom {
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    flex-grow: 1;
}