.profile-container {
    margin-top: 20px;
    width: clamp(300px, 100%, 2048px);
    height: auto;
    padding: 15px;

    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: var(--shadow);
    border: 1px solid rgba(0,0,0,.1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

div.profile-container {
    padding-bottom: 30px;
}

.profile-container header {
    color: white;
    margin-bottom: 10px;
}

fieldset {
    border: none;
}

.profile-input-container {
    height: auto;
    width: 50%;

    border: 1px solid black;
    border-radius: 5px;
    background-color: var(--light);

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.profile-container .profile-input-container > input {
    height: 100%;
    flex-grow: 1;
    width: auto;

    border: none;
    background-color: transparent;

    font-size: 1rem;
    padding:.2rem;
}

.profile-container fieldset input:focus {
    outline: none;
    
}

.change-profile-field {
    height: 100%;
    width: auto;
    padding: .3rem;
    color: black;

    position: absolute;
    right: 0;

    border: none;
    background-color: transparent;   
}

.change-profile-field:hover {
    color: gray;
}

.Profile--body fieldset {
    width: clamp(260px, 60%, 100%);
    height: auto;
    margin-top: 10px;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.Profile--body fieldset label {
    color: white;
    font-size: 1rem;
    font-weight: bolder;
}

.Profile--body fieldset > p {
    color: white;
}

.units-container {
    width: auto;
    height: 100%;

}

.units-container label {
    margin-left: 10px;
}

.units-container input {
    margin-left: 5px;
}

.profile-buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-buttonContainer > button {
    font-size: 1rem;
    padding: .3rem;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
}

footer.profile-container {
    padding: 20px;
}