.Regions--header {
    border-bottom: var(--border);
}

.regions--container {
    width: 100%;
    height: 100%;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 15px;
    padding-top: 0;

}

.Regions--container > h2, .Region--container > a {
    text-align: center;
    margin: 50px;
    color: color;
    width: 100%;;
}

.Region--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 10px 20px;
    min-height: 80px;
    margin-top: 20px;

    background-color: var(--lighter);
    border-radius: 5px;
}

.Region--container > .Region--content {
    flex-grow: 1;
}


.Region--container > button {
    border-radius: 5px;
    padding: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Region--content > h3, 
.Region--content > p {
    color: white;
}




.Region--container > p {
    color: white;;
}

.Region--container:hover {
    background-color: rgba(255,255,255,.35);
}

.Region--container > p {
    font-weight: 400;
}

.Regions--header a {
    text-align: center;
    width: 100%;
}

.regions-header {
    display: none;
}