.NavBar--container {
    height: var(--navBarHeight);
    width: 100%;
    padding: var(--pagePadding);

    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
    
    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(15px);
    box-shadow: var(--shadow);
    color: white;
}

.NavBar--navigationContainer {
    height: 100%;
}

.NavBar--navigationContainer > ul{
    height: 100%;
    list-style-type: none;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.NavBar--navigationContainer .nav-title {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0;
    font-size:1.7rem;
}
.NavBar--navigationContainer .nav-title:hover {
    background-color: transparent;
}

.NavBar--navigationContainer li {
    margin: 0 10px;
}

.NavBar--navigationContainer a:hover {
    background-color: rgba(255,255,255,.5);
}

.NavBar--navigationContainer a {
    color: inherit;
    text-decoration: none;
    padding: .5rem;
    border-radius: 10px;
}

nav li.regionsNavTab {
    display: none;
}